@font-face {
  font-family: 'fl-icons';
  src:  url('icons/fl-icons.eot?qutfqd');
  src:  url('icons/fl-icons.eot?qutfqd#iefix') format('embedded-opentype'),
    url('icons/fl-icons.woff2?qutfqd') format('woff2'),
    url('icons/fl-icons.ttf?qutfqd') format('truetype'),
    url('icons/fl-icons.woff?qutfqd') format('woff'),
    url('icons/fl-icons.svg?qutfqd#fl-icons') format('svg');
}

i[class^="icon-"]{
  visibility: visible!important;
}
